*{
    margin: 0;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    font-size: 62.5%;
    background-color: white;
}
.header-style{
    background-color: #06495e;
    color: #f5e1e1;
}
.nav-style > ul {
    display: flex;
    justify-content: center; 
    list-style: none; 
    padding: 0.8rem;
    background-color: #06495e; 
}

.nav-style > ul > li {
    margin: 0 0.8rem; 
}

.nav-style > ul  > li >  a {
    text-decoration: none; 
    color: #f5e1e1; 
    font-size: 1.5rem;
    padding: 10px;
}

.nav-style >  ul >  li > a:hover {
    background-color: white;
    border-radius: 5px;
}
.header-section{
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 26rem;
}
.left-side-article{
    padding: 3rem 3rem;
}
#my-name{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.left-side-article > p{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.aside-article{
    padding: 2rem 2rem;
    width: 16rem;
    height: 16rem;
    background-image: url(vukvasilijevic4x4.jpg);
    overflow: hidden;
    border: 3px solid #f5e1e1;
    border-radius: 50%;
    object-fit: contain;
    background-repeat: no-repeat;
}
.section-about-me{
    background-color:#f5e1e1 ;
    color:#06495e ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}
#h1-me{
    font-size: 1.9rem;
    text-align: center;
    margin: 2.2rem;
    font-weight: bold;
}
#h1-skills{
    font-size: 1.9rem;
    text-align: center;
    margin:2.2rem;
    font-weight: bold;
}
.article-about-me{
    text-align: center;
    font-size: 1.3rem;
}
.article-about-me > p{
    margin-bottom:1.5rem;
}
.aside-skills{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.aside-skills > i{
    font-size: 2.5rem;
}
.personal-projects{
    background-color: #06495e;
    color: #f5e1e1;
}
.personal-projects > h1{
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
}
#project-p{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.project-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}
.project-div{
    margin-bottom: 1rem;
    text-align: center;
}
h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.project-style > .project-div > h3 > p{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.image-div{
    border: 2px solid black;
}
.get-in-touch{
    background-color: #f5e1e1;
    color: #06495e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.get-in-touch > h1{
    padding: 1.2rem;
    font-size: 2rem;
    font-weight: bold;
}
.get-in-touch > h1 > p{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.touch-p{
    font-size: 1.1rem;
}
button{
    background-color: #06495e; 
    color: #f5e1e1; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.2rem; 
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: #056e8d  0.3s ease;
}
.footer{
    background-color: #06495e;
    color: #f5e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#get-social{
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
#ig{
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
#copy{
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}



