*{
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    font-size: 62.5%;
    
    padding: 0;
}
.header-style{
    background-color: #06495e;
    color: #f5e1e1;
    padding: 2rem;
    text-align: center;
}
.nav-style ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    
}
.nav-style > ul > li > a{
    text-decoration: 0;
    transition: #f5e1e1  0.3s ease;
}
.nav-style > ul > li > a :hover{
     color: white;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}
.left-side-article{
    flex: 1;
    font-size: 1.2rem;
}
#my-name{
    font-size: 1.7rem;
}
.aside-article img{
    width: 180px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}